$primary-color: #ff7f50;
$secondary-color: #50326e;
$tertiary-color: #c8ff64;
$secondary-color-faded: rgb(91,83,123);//#5b537b;
$secondary-color-faded2: rgba(91,83,123, 0.4);//#5b537b;
$span-color: #c8ff69;
